#fondo{

	background-image: url("../Img/avion.jpg");
	background-position-x: center;
	background-position-y: center; 
	height: 200px;
	width: 100%;
	/*background-color: black;*/
	padding-top: 100px;
}

#titulo{

	color: white;
	text-shadow: 4px 1px #271d1d;
	margin-left: 25%;
	width: 50%;
	text-align: center
}

#parrafo{
	/* margin-left: 50%;
	margin-top: 50px;*/

	margin-top: 50px;
display: inline-block;
width: 50%;
}
.parraflo1{
	height: 210px;
	width: auto;
	margin-left: 30px;
}
#parrafo1 { 
	position: right;
	width: 50%;
	display: inline-block;
    margin: 20px;
	
}
.uno{
	margin-top: 30px;
}